bin
obj
.vs
src/MrPitiful.BoardGame.Base/project.lock.json
src/MrPitiful.BoardGame.UnicodeChess/project.lock.json
test/MrPitiful.BoardGame.Base.Test/project.lock.json
src/MrPitiful.SlackChess/project.lock.json
